<link rel="stylesheet" href="https://bootswatch.com/3/cyborg/bootstrap.min.css">


<div class="table-responsive">
  <table class="table">
    <thead>
    <tr>

      <th>Id</th>
      <th>NIC</th>
      <th>UserName</th>
      <th>FirstName</th>
      <th>LastName</th>
      <th>ResidenceNo</th>
      <th>Lane</th>
      <th>City</th>
      <th>ContactNo</th>
      <th>Email</th>
      <th>Gender</th>
      <th>UserType</th>
      <th> </th>
      <th> </th>
      
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.Id}}</td>
      <td>{{user.NIC}}</td>
      <td>{{user.Username}}</td>
      <td>{{user.FirstName}}</td>
      <td>{{user.LastName}}</td>
      <td>{{user.ResidenceNo}}</td>
      <td>{{user.Lane}}</td>
      <td>{{user.City}}</td>
      <td>{{user.ContactNo}}</td>
      <td>{{user.Email}}</td>
      <td>{{user.Gender}}</td>
      <td>{{user.UserType}}</td>
      

      <td><a [routerLink]="['/users',user.Id]"><button type="button" class="btn btn-info " (click)="showEditUserForm(user)" ><i class="fa fa-edit"></i></button></a></td>
      <td><button class="btn btn-success" (click)="removeUser(user.Id)"> <i class="fa fa-minus"></i></button></td>
      </tr>
    </tbody>

  </table>

  
  <br/>
  <br/>
</div>


<div>
<form *ngIf="userForm">
  <h4>Add New User</h4>

  <p>Id : <input type="text" name="Id" [(ngModel)]="newUser.Id"/></p>  
  <p>NIC : <input type="text" name="NIC" [(ngModel)]="newUser.NIC"/></p>
  <p>Username : <input type="text" name="Username" [(ngModel)]="newUser.Username"/></p>
  <p>FirstName : <input type="text" name="FirstName" [(ngModel)]="newUser.FirstName"/></p> 
  <p>LastName : <input type="text" name="LastName" [(ngModel)]="newUser.LastName"/></p> 
  <p>ResidenceNo : <input type="text" name="ResidenceNo" [(ngModel)]="newUser.ResidenceNo"/></p> 
  <p>Lane : <input type="text" name="Lane" [(ngModel)]="newUser.Lane"/></p> 
  <p>City : <input type="text" name="City" [(ngModel)]="newUser.City"/></p> 
  <p>ContactNo : <input type="text" name="ContactNo" [(ngModel)]="newUser.ContactNo"/></p> 
  <p>Email : <input type="text" name="Email" [(ngModel)]="newUser.Email"/></p> 
  <p>Gender : <input type="text" name="Gender" [(ngModel)]="newUser.Gender"/></p> 
 
<p>
<button type="button" class="btn btn-success" (click)="saveUser(newUser)">Submit</button>
<button type="button" class="btn btn-warning">Cancel</button>

</p>


</form>

</div>