<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Van</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        



          <table class="table">
            <thead>
            <tr>
        
              <th>Id</th>
              <th>VanType</th>
              <th>RegistrationNo</th>
              
              <th>&nbsp;</th>
              
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let van of vans">
              <td>{{van.Id}}</td>
              <td>{{van.VanType}}</td>
            
              <td>{{van.RegistrationNo}}</td>
            
              
              
            
            
             
            </tr>
            </tbody>
        
          </table>
        
          <button class="btn btn-success"(click)="showAddUserForm()">Add New User<i class="fa fa-plus"></i></button>
          <br/>
          <br/>
        </div>
        
        
        <div>










       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>