
<h3>
  Add User Routes 
</h3>
<br/>
<br/>

<button click="getUsers()"> User
<select [(ngModel)]="userRoutedata.UserId" name="UserId">
  <option *ngFor="let user of users" [ngValue]="user.Id">
    {{user.Id}}
  </option>
</select>
</button>
<br/>
<br/>


<button click="getRoutes()">
Route
  <select [(ngModel)]="userRoutedata.RouteId" name="RouteId">
    <option *ngFor="let route of routes" [ngValue]="route.Id">
      {{route.Id}}
    </option>
  </select>
  </button>
  <br/>
  <br/>
 


  <button click="getVans()">
    Van
      <select [(ngModel)]="userRoutedata.VanId" name="VandId">
        <option *ngFor="let van of vans" [ngValue]="van.Id">
          {{van.Id}}
        </option>
      </select>
      </button>

 <button click="getProducts()">
    Products
    <!-- <table>
      <tbody >
        <tr *ngFor="let product of products; let i = index">
          <select [(ngModel)]="userRoutedata.Id" name="Id">
            <option  [ngValue]="product.Id">
               {{product.Id}}
             </option>
             
           </select>  
           <input [(ngModel)]="userRoutedata.Quantity" name="Quantity"> 
           <button class="btn btn-default" type="button" (click)="addFieldValue()">Add</button>
        </tr>
      </tbody>
    </table> -->
    <select [(ngModel)]="userRoutedata.Id" name="Id">
      <option *ngFor="let product of products; let i = index" [ngValue]="product.Id">
         {{product.Id}}
       </option>
       
     </select>  
     <input [(ngModel)]="userRoutedata.Quantity" name="Quantity">  
     <button class="btn btn-default" type="button">Add</button>
  </button>



<br/>
<br/>
<button> Date: 
  <div>
    <input id="date" type="text" bsDatepicker [(ngModel)]="userRoutedata.Date1">
</div>
</button>
 <br/>
<br/>

<div>
  <button type="reset" class="btn btn-default">Cancel</button>
  <button type="submit" class="btn btn-primary" (click)="post()">Submit</button>
</div>