<link rel="stylesheet" href="https://bootswatch.com/3/superhero/bootstrap.min.css">

<body background="./assets/images2.jpg">
  <div class="background-wrap">
      <video id="video-bg-elem" preload="auto" autoplay="auto" loop="loop" muted="muted">
          <source src="./assets/Sunset-Siesta.mp4" type="video/mp4" />
          Video not supported
      </video>
     
</div>
  <br/><br/><br/>
    <h2>  Login</h2>

  <form class="form-horizontal">
    <fieldset ><br><br>

      <div class="form-group">
        <label for="inputUsername" class="col-lg-2 control-label">Username</label>
        <div class="col-lg-4">
          <input type="text" class="form-control" id="inputUsername" [(ngModel)]="loginData.Username" name="Username" placeholder="Username">
        </div>
      </div>


      <div class="form-group">
        <label for="inputPassword" class="col-lg-2 control-label">Password</label>
        <div class="col-lg-4">
          <input type="password" class="form-control" id="inputPassword" [(ngModel)]="loginData.password" name="password" placeholder="password">
      </div>
      </div>
      
      <br/>
      
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <button type="reset" class="btn btn-default">Cancel</button>
          <button type="submit" class="btn btn-primary" (click)="post()">Login</button>
         <br/> <br/>
        </div>
      </div>
      <br><br>
    </fieldset>
  </form>
</body>
