
<link rel="stylesheet" href="https://bootswatch.com/3/cyborg/bootstrap.min.css">

<nav class='navbar navbar-success'>

  <ul class="nav navbar-nav navbar-right">
    <li><a [routerLink]="['./routes/user-route']"><button type="button" class="btn btn-success" *ngIf="isShow">User Routes </button> </a></li>
    <li><a [routerLink]="['./routes/van']"><button type="button" class="btn btn-success" *ngIf="isShow">Van</button></a></li>
    
</ul>
<div>
  <router-outlet></router-outlet>
</div>


</nav>



<div class="panel panel-primary">
  <div class="panel-heading">
    {{pageTitle}}
  </div>
  <br/>
  <br/>
  <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal" (click)="showAddRouteForm()" *ngIf="isShow">Add Route  <i class="fa fa-plus"></i></button>
  

  <div class="panel-body">




<div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
  
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th></th>
        <th></th>
        
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let route of routes">
          <td>{{route.Id}}</td>
          <td>{{route.Name}}</td>    
          <td>{{route.Description}}</td>        
          <td>
              <button type="button" class="btn btn-success" (click)="showMap(route.Id)"><i class="fa fa-globe"></i> Map</button>
          </td>
          <td>
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModals" (click)="showEditRouteForm(route)"*ngIf="isShow"><i class="fa fa-edit"></i></button>
          </td>
          <td>
            <button class="btn btn-primary" (click)="removeRoute(route.Id)"*ngIf="isShow"><i class="fa fa-minus" ></i></button>          
          </td>          
        </tr>
      </tbody>

      </table>






    <!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">

      


        <br/>
        <br/>

    
    


    <form *ngIf="routeForm"#f="ngForm" novalidate>
      <h4>Add New Route</h4>
  
      <!-- <p>Id : <input type="text" name="Id" [(ngModel)]="newRoute.Id"/></p>   -->
      <p>Name : <input type="text" name="Name" [(ngModel)]="newRoute.Name"#inputName="ngModel" required/></p>
      <div *ngIf="inputName.errors?.required && inputName.touched" class="alert alert-danger">Required</div>
      
      <p>Description : <input type="text" name="description" [(ngModel)]="newRoute.Description"#inputDes="ngModel" required/></p>
      <div *ngIf="inputDes.errors?.required && inputName.touched" class="alert alert-danger">Required</div>
      <p>
    <button type="button"[disabled]="!f.form.valid" class="btn btn-success" (click)="saveRoute(newRoute)">Submit</button>
    <button type="button" class="btn btn-warning">Cancel</button>
    
  </p>
  
  
    </form>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
  
  </div>
  </div>  
</div>

<!-- Modal -->
<div id="myModals" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">

    <form *ngIf="editRouteForm"#f="ngForm" novalidate>
      <h2>Edit Route Details</h2>
  
      <!-- <p>Id : <input type="text" name="Id" [(ngModel)]="editedRoute.Id"/></p>   -->
      <p>Name : <input type="text" name="Name" [(ngModel)]="editedRoute.Name"#inputName="ngModel" required/></p>
      <div *ngIf="inputName.errors?.required && inputName.touched" class="alert alert-danger">Required</div>

      <p>Description : <input type="text" name="Description" [(ngModel)]="editedRoute.Description"#inputDes="ngModel" required/></p>
      <div *ngIf="inputDes.errors?.required && inputName.touched" class="alert alert-danger">Required</div>
      
  
  <p>
    <button type="button"[disabled]="!f.form.valid" class="btn btn-primary" (click)="updateRoute(editedRoute)">Submit</button>
    <button type="button" class="btn btn-warning" (click)="cancelEdits()">Cancel</button>
    
  </p>
  
  
    </form>
  


    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
  
  </div>
  </div>  
</div> 






      </div>
    </div>
  </div>
  