

<!--<router-outlet>
  </router-outlet>!-->

<div class="nav sidebar-nav">
  <nav class='navbar navbar-default'>
    <div class='container-fluid'>
      <a class='navbar-brand'> Techno SFA </a>

        <ul class='nav navbar-nav'>
        <li><a [routerLink]="['./home']">Home</a></li>
        <li><a [routerLink]="['./products']">Products</a></li>
        <li><a [routerLink]="['./outlet']">Outlets</a></li>
        <li><a [routerLink]="['./users']">Users</a></li>
        <li ><a [routerLink]="['./routes']">Routes</a></li>
        <li ><a [routerLink]="['./expenses']">Expenses</a></li>
       </ul>

        <ul class="nav navbar-nav navbar-right">

                <li>
                          <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
                          <a class="fa fa-bell" (click)="showNotifications()" >
                            <span  class="fa fa-comment" *ngIf="notificationsLength != 0 "></span>
                            <span  class="num" *ngIf="notificationsLength != 0 ">{{notificationsLength}}</span>
                          </a>                               
                                
                </li>



          <li><a [routerLink]="['./register']">Register</a></li>
          <li><a [routerLink]="['./login']">Login</a>
          <li><a [routerLink]="['./login']" (click)="logOut()">LogOut</a>
        </li>
        
          
          
          
      </ul>
    </div>
  </nav>




    

  <div class="container">

    <router-outlet></router-outlet>




</div>
</div>