<link rel="stylesheet" href="https://bootswatch.com/3/cyborg/bootstrap.min.css">

<div class="panel panel-primary">
  <div class="panel-heading">
    {{pageTitle}}
  </div>
<br/>
<br/>

  <button type="button" class="btn btn-success " data-toggle="modal" data-target="#myModal" (click)="showAddProductForm()" *ngIf="isShow">Add Product <i class="fa fa-plus"></i></button>
  

  <div class="panel-body">
            <div class='row'>
              <div class='col-md-2'>
                <h5>Search</h5>
              </div>
              <div class='col-md-4'>
                <input type='text' [(ngModel)]='listFilter' />
              </div>
            </div>
      


    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>

          <th>Id</th>
          <th>Name</th>
          <th>Brand</th>
          <th>Category</th>
          <th>Manufacture Price</th>
          <th>Retail Price</th>
          <th>Quantity</th>
          <th>DiscountType</th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of filteredProducts">
          <td>{{product.Id}}</td>
          <td>{{product.Name}}</td>
          <td>{{product.Brand}}</td>
          <td>{{product.Category}}</td>
          <td>{{product.ManufacturePrice}}</td>
          <td>{{product.RetailPrice}}</td>
          <td>{{product.Quantity}}</td>
          <td>{{product.DiscountType}}</td>
        
          <td><button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModals" (click)="showEditProductForm(product)" *ngIf="isShow"><i class="fa fa-edit"></i></button>
          <td><button class="btn btn-primary" (click)="removeProduct(product.Id)" *ngIf="isShow"><i class="fa fa-minus"></i></button></td>
          
        
        </tr>
        </tbody>

      </table>
      
      
      <!-- Modal -->
      <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
      
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
              
      

    <br/>
    <br/>
  <form *ngIf="productForm"  #f="ngForm" novalidate>
    <h4>Add New Product</h4>

<!-- <p>Id : <input type="text" name="Id" [(ngModel)]="newProduct.Id"/></p>   -->
<p>Name : <input type="text" name="Name" [(ngModel)]="newProduct.Name" #inputName="ngModel" pattern="[A-Za-z]{1,}" required/></p>
<div *ngIf="inputName.errors?.required && inputName.touched" class="alert alert-danger">Required</div>
<div *ngIf="inputName.errors?.pattern && inputName.touched" class="alert alert-danger">Invalid</div>

<p>Brand : <input type="text" name="Brand" [(ngModel)]="newProduct.Brand" #inputBrand="ngModel" pattern="[A-Za-z]{1,}" required/></p>
<div *ngIf="inputBrand.errors?.required && inputBrand.touched" class="alert alert-danger">Required</div>
<div *ngIf="inputBrand.errors?.pattern && inputBrand.touched" class="alert alert-danger">Invalid</div>

<p>Category : <input type="text" name="Category" [(ngModel)]="newProduct.Category" #inputCategory="ngModel" pattern="[A-Za-z]+"required/></p>
<div *ngIf="inputCategory.errors?.required && inputCategory.touched" class="alert alert-danger">Required</div>
<div *ngIf="inputCategory.errors?.pattern && inputCategory.touched" class="alert alert-danger">Invalid</div>


<p>ManufacturePrice : <input type="number" name="ManufacturePrice" [(ngModel)]="newProduct.ManufacturePrice"#inputPrice="ngModel" min="1"required /></p>
<div *ngIf="inputPrice.errors?.required && inputPrice.touched" class="alert alert-danger">Required</div>

<p>RetailPrice : <input type="number" name="RetailPrice" [(ngModel)]="newProduct.RetailPrice"#inputRetail="ngModel" min="1" required/></p>
<div *ngIf="inputRetail.errors?.required && inputRetail.touched" class="alert alert-danger">Required</div>

<p>Quantity : <input type="number" name="Quantity" [(ngModel)]="newProduct.Quantity" min="0"/></p>
<p>Discount Type : <input type="number" name="DiscountType" [(ngModel)]="newProduct.DiscountType"/></p>

<p>
  <button type="button"[disabled]="!f.form.valid" class="btn btn-primary" (click)="saveProduct(newProduct)">Submit</button>
  <button type="button" class="btn btn-warning">Cancel</button>
  
</p>


  </form>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    
  </div>
  <h4 class="modal-title"></h4>
</div>


</div>  
</div>  
</div>  






<div id="myModals" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">



  <form *ngIf="editProductForm" #f1="ngForm" novalidate>
    <h2>Edit Product Details</h2>

<!-- <p>Id : <input type="text" name="Id" [(ngModel)]="editedProduct.Id"/></p>   -->
<p>Name : <input type="text" name="Name" [(ngModel)]="editedProduct.Name" #inputName="ngModel" pattern="[A-Za-z]{1,}" required/></p>
<div *ngIf="inputName.errors?.required && inputName.touched" class="alert alert-danger">Required</div>
<div *ngIf="inputName.errors?.pattern && inputName.touched" class="alert alert-danger">Invalid</div>

<p>Brand : <input type="text" name="Brand" [(ngModel)]="editedProduct.Brand" #inputBrand="ngModel" pattern="[A-Za-z]{1,}" required/></p>
<div *ngIf="inputBrand.errors?.required && inputBrand.touched" class="alert alert-danger">Required</div>
<div *ngIf="inputBrand.errors?.pattern && inputBrand.touched" class="alert alert-danger">Invalid</div>

<p>Category : <input type="text" name="Category" [(ngModel)]="editedProduct.Category" #inputCategory="ngModel" pattern="[A-Za-z]{1,}" required/></p>
<div *ngIf="inputCategory.errors?.required && inputCategory.touched" class="alert alert-danger">Required</div>
<div *ngIf="inputCategory.errors?.pattern && inputCategory.touched" class="alert alert-danger">Invalid</div>

<p>ManufacturePrice : <input type="number" name="ManufacturePrice" [(ngModel)]="editedProduct.ManufacturePrice" #inputPrice="ngModel" min=1 required/></p>
<div *ngIf="inputPrice.errors?.required && inputName.touched" class="alert alert-danger">Required</div>

<p>RetailPrice : <input type="number" name="RetailPrice" [(ngModel)]="editedProduct.RetailPrice"#inputRetail="ngModel" min=1 required/></p>
<div *ngIf="inputRetail.errors?.required && inputRetail.touched" class="alert alert-danger">Required</div>

<p>Quantity : <input type="number" name="Quantity" [(ngModel)]="editedProduct.Quantity"#inputQty="ngModel" min=1 required/></p>
<div *ngIf="inputQty.errors?.required && inputQty.touched" class="alert alert-danger">Required</div>

<p>Discount Type : <input type="number" name="DiscountType" [(ngModel)]="editedProduct.DiscountType"#inputDiscount="ngModel" min=1 required/></p>
<div *ngIf="inputDiscount.errors?.required && inputDiscount.touched" class="alert alert-danger">Required</div>

<p>
  <button type="button" [disabled]="!f1.form.valid" class="btn btn-primary" (click)="updateProduct(editedProduct)">Submit</button>
  <button type="button" class="btn btn-warning" (click)="cancelEdits()">Cancel</button>
  
</p>


  </form>

  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    
  </div>
  <h4 class="modal-title"></h4>
  
</div>

</div>
</div>
</div>



    </div>
  </div>
</div>
