 <link rel="stylesheet" href="https://bootswatch.com/3/darkly/bootstrap.min.css">

<!--
<div class='panel panel-primary' *ngIf='user'>
    <div class='panel-heading'>
        <div class='panel-body'>

  <div *ngIf="user">
    <h4>{{ user.Username}} </h4>
    <div><span>id: </span>{{user.Id}}</div>
    <div>
      <div>Username:
        {{user.Username}}
      </div>

      <div>FirstName:
          {{user.FirstName}}
      </div>

      <div>LastName:
            {{user.LastName}}
      </div>

      <div>ResidenceNo:
              {{user.ResidenceNo}}
      </div>

      <div>Lane:
          {{user.Lane}}
        </div>

        <div>City:
            {{user.City}}
          </div>

          <div>ContactNo:
              {{user.ContactNo}}
            </div>

            <div>Email:
                {{user.Email}}
              </div>

              <div>Gender:
                  {{user.Gender}}
                </div>

    </div>
!-->
    <td><button class="btn btn-primary" (click)="showEditUserForm(user)" ><i class="fa fa-edit">Edit</i></button>
      <button class="btn btn-success"><i class="fa fa-minus">Delete</i></button>

    </td>








<div class="panel panel-primary" *ngIf='editUserForm'>
    <div class='panel-heading'>
        <div class='panel-body'>
<div *ngIf="user">
    <h4>{{ editedUser.Username}} </h4>
    <div><span>Id: </span>{{editedUser.Id}}</div>
    <div>


    <div>Id:
        <input type="text" name="Id" [(ngModel)]="editedUser.Id" />
    </div><br/>

     <div>NIC:
        <input type="text" name="NIC" [(ngModel)]="editedUser.NIC" />
    </div><br/>

      <div>Username:
        <input type="text" name="Username" [(ngModel)]="editedUser.Username" />
      </div><br/>

      <div>FirstName:
          <input type="text" name="FirstName"[(ngModel)]="editedUser.FirstName"/>
      </div><br/>

      <div>LastName:
            <input [(ngModel)]="editedUser.LastName" placeholder="LastName"/>
      </div><br/>

      <div>ResidenceNo:
              <input [(ngModel)]="editedUser.ResidenceNo" placeholder="ResidenceNo"/>
      </div><br/>

      <div>Lane:
          <input [(ngModel)]="editedUser.Lane" placeholder="Lane"/>
        </div><br/>

        <div>City:
            <input [(ngModel)]="editedUser.City" placeholder="City"/>
          </div><br/>

          <div>ContactNo:
              <input [(ngModel)]="editedUser.ContactNo" placeholder="ContactNo"/>
            </div><br/>

            <div>Email:
                <input [(ngModel)]="editedUser.Email" placeholder="Email"/>
              </div>
              <br/>

              <div>Gender:
                  <input [(ngModel)]="editedUser.Gender" placeholder="Gender"/>
                </div>
                <br/>
                <div>UserType:
                        <input [(ngModel)]="editedUser.UserType" placeholder="UserType"/>
                      </div>
                      <br/>

    </div>

  </div>
        </div>

        <p>
            <button type="button" class="btn btn-primary" (click)="updateUser(editedUser)">Submit</button>
            <button type="button" class="btn btn-warning" (click)="cancelEdits()">Cancel</button>

          </p>

</div>
</div>
<div class='panel-footer'>
    <a class='btn btn-default' (click)='onBack()'>
        <button> <h5>Back </h5></button>
    </a>
</div>
 
