thead{
    background-color:rgba(25, 23, 26, 0.514);
}
table{
  color: #d6b510  ;
}

td{
    color: rgb(44, 46, 43)
  }
  h5{
      color: black;
  }

input{
    color: rgb(31, 8, 8);
}
div{
    color: rgb(43, 4, 4);
    
}
