<link rel="stylesheet" href="https://bootswatch.com/3/darkly/bootstrap.min.css">
<body>
        <div class="background-wrap">
                <video id="video-bg-elem" preload="auto" autoplay="auto" loop="loop" muted="muted">
                    <source src="./assets/Fade-To-Black.mp4" type="video/mp4" />
                    Video not supported
                </video>
                <div class="content"></div>
        </div>

        <div class="jumbotron">
                    <h2>Salesforce</h2>
                    <h5>     
                            Salesforce brings together all your customer information in a single, integrated platform that enables you to build a customer-centred business from marketing right through to sales, customer service and business analysis. This gives you more complete understanding of your customers to drive your business’s success. That’s why we call it the Customer Success Platform.
                    </h5>
                    <p><a class="btn btn-primary btn-lg">Learn more</a></p>
        </div>
 <!--      
<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    
    <div class="panel-body"  >
        
        
    </div>
</div>
!-->



</body>
