.row{
  background-color: rgb(38, 36, 43);
}
.panel panel-primary{
  background-color: rgb(56, 34, 6)
}

div{
  background-color: rgb(116, 214, 221)
}
h4{
  font-family: sans-serif;
  color: white;
  text-align: center;
}
h5{
  color: rgb(202, 185, 89);
  text-align: center;
}
