<link rel="stylesheet" href="https://bootswatch.com/3/superhero/bootstrap.min.css">
<body background="./assets/images2.jpg">
  <h3>Register</h3>
<form class="form-horizontal"novalidate #f="ngForm" (ngSubmit)="onSubmit(f)" >

  <fieldset><br>





      <div class="form-group">
      <label for="inputNIC" class="col-lg-2 control-label">NIC</label>
      <div class="col-lg-5">
      <input type="text" class="form-control" id="inputNIC" [(ngModel)]="registerData.NIC" name="NIC" placeholder="NIC">
      </div>
      </div>


      <div class="form-group">
        <label for="inputUsername" class="col-lg-2 control-label">Username</label>
        <div class="col-lg-5">
        <input type="text" class="form-control"  [(ngModel)]="registerData.Username" #inputUsername="ngModel" name="Username" placeholder="Username" required >
        </div>
        </div>
      <div *ngIf="inputUsername.errors?.required && inputUsername.touched" class="alert alert-danger">UserName is required</div>
        <div class="form-group">
          <label for="inputEmail" class="col-lg-2 control-label">Email</label>
          <div class="col-lg-5">
            <input type="text" class="form-control" id="inputEmail" [(ngModel)]="registerData.Email" name="Email" placeholder="Email">
          </div>
        </div>


      <div class="form-group">
        <label for="inputPassword" class="col-lg-2 control-label">Password</label>
        <div class="col-lg-5">
          <input type="password" class="form-control" [(ngModel)]="registerData.Passwords" #inputPassword="ngModel" name="password" placeholder="Password" minlength="5" required>
      </div>
      </div>
      <div *ngIf="inputPassword.errors?.required && inputPassword.touched" class="alert alert-danger">Password is required</div>
      <div *ngIf="inputPassword.errors?.minlength && inputPassword.touched" class="alert alert-danger">Password must be atleast 5 characters.</div>
      
      <div class="form-group">
        <label for="inputFirstName" class="col-lg-2 control-label">First Name</label>
        <div class="col-lg-5">
        <input type="text" class="form-control" id="inputFirstName" [(ngModel)]="registerData.FirstName" name="FirstName" placeholder="First Name">
        </div>
        </div>


        <div class="form-group">
          <label for="inputLastName" class="col-lg-2 control-label">Last Name</label>
          <div class="col-lg-5">
          <input type="text" class="form-control" id="inputLastName" [(ngModel)]="registerData.LastName" name="LastName" placeholder="Last Name">
        </div>
        </div>

        <div class="form-group">
          <label for="inputResidenceNo" class="col-lg-2 control-label">Residence No</label>
          <div class="col-lg-5">
          <input type="text" class="form-control" id="inputResidenceNo" [(ngModel)]="registerData.ResidenceNo" name="ResidenceNo" placeholder="ResidenceNo">
        </div>
        </div>

        <div class="form-group">
          <label for="inputLane" class="col-lg-2 control-label">Lane</label>
          <div class="col-lg-5">
          <input type="text" class="form-control" id="inputLane" [(ngModel)]="registerData.Lane" name="Lane" placeholder="Lane">
        </div>
        </div>

        <div class="form-group">
          <label for="inputCity" class="col-lg-2 control-label">City
          </label>
          <div class="col-lg-5">
          <input type="text" class="form-control" id="inputCity" [(ngModel)]="registerData.City" name="City" placeholder="City">
        </div>
        </div>

        <div class="form-group">
        <label for="inputContactNo" class="col-lg-2 control-label">ContactNo</label>
        <div class="col-lg-5">
        <input type="text" class="form-control" id="inputContactNo" [(ngModel)]="registerData.ContactNo" name="ContactNo" placeholder="ContactNo">
      </div>
      </div>

      

        
            <div class="form-group">
            <label for="inputUserType" class="col-lg-2 control-label">User Type</label>
            <div class="col-lg-5">
            <select class="form-control col-lg-2" [(ngModel)]="registerData.UserType" name="UserType" #inputUserType="ngModel"required >
                <option>Admin</option>
                <option>Sales</option>
                <option>HR</option>
                <option>Finance</option>

            </select>
          </div>
        </div>
        <div *ngIf="inputUserType.errors?.required && inputUserType.touched" class="alert alert-danger">UserType is required</div>
        
        
        <div class="form-group">
            <label for="inputGender" class="col-lg-2 control-label">Gender</label>
            <div class="col-lg-5">
            <select class="form-control col-lg-2" [(ngModel)]="registerData.Gender" name="Gender" >
                <option>Male</option>
                <option>Female</option>
                

            </select>
          </div>
        </div>
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <button type="reset" class="btn btn-default">Cancel</button>
          <button type="submit" class="btn btn-primary" (click)="post()">Submit</button>
        </div>
      </div>
    </fieldset>
  </form>

</body>